<!DOCTYPE html>
<html>
<head>
  <title>Homebeer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
	<div class="left-menu">
	  <a class="logo">Homebeer</a>
	  <a class="left-menu-item" href="#">Что нового?</a>
	  <a class="left-menu-item">Каталог</a>
	  <a class="left-menu-item">Блог</a>
	  <a class="left-menu-item">Информация</a>
	</div>
	<div class="main-image">

	</div>
</div>
<%= yield %>

</body>
</html>
